<form action="/users" method="POST">
<label>
Email
<input type="text" name="email" />
</label>
<label>
First
<input type="text" name="first" />
</label>
<label>
Last
<input type="text" name="last" />
</label>
<label>
Date of Birth
<input type="text" name="dob" />
</label>

<input type="submit" value="Create User" />
</form>

